body.wb-mac .new-chat-header {
	margin-left: 48px !important;
	text-align: center;
}
body.wb-mac .new-chat-header .logo {
	margin: 0 !important;
	height: 40px;
	line-height: initial;
	vertical-align: middle;
}
body.wb-mac .new-chat-header .logo-link {
	margin: 0 !important;
}
body.wb-mac mws-header {
	padding-left: 97px !important;
}
body.wb-win mws-header,
body.wb-default mws-header {
	padding-right: 138px !important;
}

/* Draggable regions */
* {
	-webkit-user-select: none;
}
.new-chat-header,
mw-main-landing,
mws-header {
	-webkit-app-region: drag;
}
.windowbar-controls,
a,
button {
	-webkit-app-region: no-drag !important;
}
