html,
body {
	background-color: transparent !important;
	overflow: hidden !important;
}


body:not(.dark-mode) mw-main-nav {
	background-color: rgba(255,255,255, 0.8) !important;
	border: none !important;
}

body:not(.dark-mode) .list-item.selected {
	background-color: #fff !important;
}

body:not(.dark-mode) mw-main-landing,
body:not(.dark-mode) mw-conversation-container,
body:not(.dark-mode) .container,
body:not(.dark-mode) mws-header {
	background-color: #fff !important;
}

body:not(.dark-mode) mws-header {
	border-bottom: 1px solid #ddd !important;
	box-shadow: none !important;
}


body.dark-mode mw-main-nav {
	background-color: rgba(0,0,0, 0.8) !important;
}

body.dark-mode mw-main-landing,
body.dark-mode mw-conversation-container,
body.dark-mode .container,
body.dark-mode mws-header {
	background-color: #111 !important;
}

body.dark-mode mws-header {
	border-bottom: 1px solid #333 !important;
	box-shadow: none !important;
}


.main-nav-header.box-shadow {
	box-shadow: none !important;
}

.input-background {
	background: none !important;
}

.mat-menu-panel {
	background-color: #222 !important;
}
